<div class="row">
  <div class="twelve columns">
    {{#power-select
        searchPlaceholder="Filter kaomoji! ___〆(・∀・)"
        allowClear=true
        options=tags
        selected=selectedTag
        onchange=(action (mut selectedTag))
        as |tag|
    }}
      {{tag}}
    {{/power-select}}
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    {{#each data as |obj|}}
      {{#each obj.kaomoji as |kaomoji|}}
        {{kaomoji-item
            kaomoji=kaomoji
            isVisible=(or (is-empty selectedTag) (contains selectedTag obj.tags))}}
      {{/each}}
    {{/each}}
  </div>
</div>