<div class="row">
  <div class="twelve columns">
    <input class="u-full-width" type="text"
           placeholder="Filter kaomoji... ___〆(・∀・)"
           oninput={{action (mut filterValue) value="target.value"}}>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    {{#each data as |obj|}}
      {{#each obj.kaomoji as |kaomoji|}}
        {{kaomoji-item
            kaomoji=kaomoji
            isVisible=(or (is-empty filterValue) (contains (to-lower filterValue) obj.tags))}}
      {{/each}}
    {{/each}}
  </div>
</div>