<div class="row">
  <div class="twelve columns">
    <select>
      <option value="">ALL THE KAOMOJI! ___〆(・∀・)</option>
      {{#each @data key="@index" as |item|}}
        <optgroup label={{item.category}}>
          {{#each item.kaomojis key="@index" as |item|}}
            <option value={{item.category}}>{{item.category}}</option>
          {{/each}}
        </optgroup>
      {{/each}}
    </select>
  </div>
</div>

<div class="row">
  <div class="twelve columns kaomoji-list">
    {{#each kaomoji key="@index" as |kaomoji|}}
      <kaomoji-item kaomoji={{kaomoji}}></kaomoji-item>
    {{/each}}
  </div>
</div>