@import "ember-power-select";

.kaomoji-item {
  display: inline-block;
}

.ember-power-select-trigger {
  margin-bottom: 20px;
}

.contribute, .disvelop {
  text-align: center;
  margin-top: 10px;
}

.disvelop {
  font-weight: bold;
  > .kaomoji {
    color: #ee2e24;
  }
}
