.kaomoji-list {
  text-align: center;
}

select {
  width: 100%;
}

.kaomoji-item {
  display: inline-block;
}

.contribute, .disvelop {
  text-align: center;
  margin-top: 10px;
}

.disvelop {
  font-weight: bold;
  > .kaomoji {
    color: #ee2e24;
  }
}
