<div class="container">
  <kaomoji-list data={{kaomoji}}></kaomoji-list>

  <div class="row">
    <div class="twelve columns contribute">
      Want to contribute? Check out this project on <a href="https://github.com/disvelop/kaomoji">GitHub</a>
    </div>
    <div class="twelve columns disvelop">
      <span class="kaomoji">( ´∀｀)ノ～ ♡</span> Disvelop
    </div>
  </div>
</div>