<div class="container">
  <kaomoji-list data={{kaomoji}}></kaomoji-list>

  <div class="row">
    <div class="twelve columns contribute">
      Want to contribute? Check out this project on <a href="https://github.com/vevix/kaomoji">GitHub</a>
    </div>
    <div class="twelve columns me">
      <span class="kaomoji">( ´∀｀)ノ～ ♡</span> <a href="https://twitter.com/@vevix_">@vevix_</a>
    </div>
  </div>
</div>
